$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);

$dist-xl: 64px;
$dist-l: 	32px;
$dist-m: 	16px;
$dist-s: 	8px;
$dist-xs: 	4px;

*, html, body, h1, h2, h3, h4, h5, h6, p, a, span, .checkbox {
  margin: 0;
  padding: 0;
	font-family: 'Dosis', sans-serif; }

h1 { font-weight: 700; margin: $dist-m 0; }

ul { list-style: none; }

li { padding: $dist-s; position: relative; }

label { font-weight: normal; padding: $dist-s; }

.headline { margin-top: $dist-xl; }

.header h3 { margin-bottom: $dist-l; }

.inputs input,
.inputs select {
	padding: $dist-s;
	border: none; }

.inputs select { margin-top: $dist-s; }

.checkboxes label { margin-bottom: $dist-l; background: #eee;  padding-left: $dist-s; }

.fa { text-align: right; width: 20px; padding-right: $dist-s; }

.rytter-data li:nth-child(odd) { background: #f4f4f4; }

.rytter-data-grp { margin-bottom: $dist-l; }

.rytter-data-grp li { cursor: move; }

.rytter-data-grp_title { padding: $dist-s; }
#tempoGrpTitle { color: #aaa; }
#sprintGrpTitle { color: #6aaf6a; }
#bjergGrpTitle { color: #CD5555; }

#sletRytter {
	position: absolute;
	background: #CD5555;
	color: #ab2121;
	right: 0;
	top: 0;
	padding: 0 4px 0 12px;
	height: 100%;
	line-height: 0;
	padding-top: 11px;
	cursor: pointer;
	transition: all 0.4s cubic-bezier(0.1, 0.8, 0.2, 0.95); }

#sletRytter:hover { padding-right: 16px; }



