$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);

$dist-xl: 64px;
$dist-l: 	32px;
$dist-m: 	16px;
$dist-s: 	8px;
$dist-xs: 	4px;

$clr_rod1: #CD5555;
$clr_rod2: #ab2121;
$clr_bla1: #428bca;
$clr_bla2: #214565;
$clr-gra0: #ededed;
$clr_gra1: #aaa;
$clr_gra2: #333;
$clr_gro1: #6aaf6a;
$clr_gul1: #fcf8e3;
// $clr-gul1: #faeacc;
$clr_gul2: #8a6d3b;

html { // Remove tap-delay on Windows-phones
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

*, html, body, h1, h2, h3, h4, h5, h6, p, a, span, .checkbox, in {
  margin: 0;
  padding: 0;
  color: $clr_gra2;
	font-family: 'Dosis', sans-serif; }

::-webkit-input-placeholder { color: $clr_gra2; }
:-moz-placeholder { color: $clr_gra2; }
::-moz-placeholder { color: $clr_gra2; }
:-ms-input-placeholder { color: $clr_gra2; }

h1 { font-weight: 700; margin: $dist-m 0; }

ul { list-style: none; }

li { padding: $dist-s; position: relative; }

label { font-weight: normal; padding: $dist-s; }

.headline { margin-top: $dist-xl; }
.header h3 { margin-bottom: $dist-l; }

.tilfoj-rytter-blok {
	position: relative;
	background: #fff;
	z-index: 100;
	height: 76px;
	margin-bottom: $dist-l; }

.inputs input,
input[type="radio"],
select, { // Remove default styling
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0; }

.inputs input,
.inputs select {
	background: #fff;
	padding: $dist-s;
	border: none;
	border-bottom: 1px solid #ededed; }

.checkboxes input:focus,
.inputs input:focus,
.inputs select:focus {
	outline: none; } // Remove default styling

.inputs select { border-radius: 0; border-left: 1px solid #ededed; }

.checkboxes label {
	cursor: pointer;
	background: #fff;
	padding-left: $dist-l; }

input[type=radio] {
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  bottom: 9px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc; }

input[type=radio]:checked {
  background: #ddd;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(255, 255, 255, .8) }

.btn-tilfoj-mobil {
	width: 100%;
	color: #999;
	background: $clr-gra0;
	border-radius: 0;
	margin-top: -$dist-xs;
	margin-bottom: $dist-l; }

.btn-tilfoj-mobil:hover { background: #dedede; 	color: #999; }

.alert {
	border-radius: 0;
	font-size: 14px;
	padding: $dist-s;
	margin-top: -14px;
	text-align: center;
	width: 200px;
	left: calc(50% - 100px) }

.fa { text-align: right; width: 20px; padding-right: $dist-s; }
.fa-fold-ud { position: absolute; right: 5px; top: 9px; }

.rytter-data li { padding-left: 80px; }
.rytter-data li:nth-child(even) { background: #f4f4f4; }
.rytter-data-grp { margin-bottom: $dist-l; }
// .rytter-data-grp li { cursor: move; }
.rytter-data-grp_title { padding: $dist-s; cursor: pointer; background: #f4f4f4; }
#tempoGrpTitle, #tempoGrpTitle i { background: $clr_gra0; }
#sprintGrpTitle, #sprintGrpTitle i { background: $clr_gro1; color: $clr-gra0; }
#brostGrpTitle, #brostGrpTitle i { background: $clr_gra2; color: $clr-gra0; }
#bakkeGrpTitle, #bakkeGrpTitle i { background: $clr_bla1; color: $clr-gra0; }
#bjergGrpTitle, #bjergGrpTitle i { background: $clr_rod1; color: $clr-gra0; }

.rytter-liste li:nth-child(9) { border-bottom: 18px solid $clr-gul1; }
.rytter-liste li:nth-child(9):after {
	content: "Fuldt hold";
	font-size: 0.7em;
	text-transform: uppercase;
	position: absolute;
	top: 38px;
	left: 8px;
	color: $clr-gul2; }

#favoRytter, #tvivlRytter, #sletRytter { padding: 0 4px 0 12px; position: absolute; height: 100%; top: 0; }

#favoRytter { cursor: pointer; padding-top: 8px; left: 4px; }
#favoRytter i {  color: $clr-gul2; }

#tvivlRytter { cursor: pointer; padding-top: 8px; left: 36px; }
.tvivl-gra { color: $clr-gra0; }
.tvivl-rod { color: $clr-rod2; }

#sletRytter {
	right: 0;
	line-height: 0;
	padding-top: 11px;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 0.95); }
#sletRytter i { color: $clr_rod2; }
#sletRytter:hover {
  -ms-transform: scale( 1.3 ); /* IE 9 */
  -webkit-transform: scale( 1.3 ); /* Chrome, Safari, Opera */
  transform: scale( 1.3 ); }

@media (max-width: 767px) {
	.headline { margin-top: $dist-m; }
	.header h3 { margin-top: -$dist-s; margin-bottom: $dist-m }
	.tilfoj-rytter-blok { height: 108px; }
	.fa-fold-ud { right: 20px; }
  .checkboxes label { width: 18.9%; }
  .checkboxes label:nth-child(3) { width: 20.5%; } }

@media (min-width: 768px) {
	.rytter-data-grp { padding-right: 0; }
	.checkboxes label { margin-bottom: $dist-l; } }

